
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/images/DeKart-logos_black.png" id="icon" alt="User Icon" / style="width: 109px;height: 109px;" class="fadein third">
    </div>

    <!-- Login Form -->
    <form action="/login" method="POST">
    {{#if loginErr}}
                <p class="error fadeIn second" style="color: orangered;">Invalid Username or Password</p>
    {{/if}}
      <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Enter email">
      <input type="text" id="password" class="fadeIn third" name="Password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/signup">Create a new account?</a>
    </div>

  </div>
  <div style="margin-top: 16px;">
    <a href="admin/adminLogin">
    <button class="glow-on-hover" type="button">ADMIN MODE</button>
  </a>
  </div>
  

  
</div>