<div class="row fadeInDown">
  <img src="/images/DeKart-logos_black.png" class="fadeIn third" style="width: 394px;
    height: 400px;
    position: absolute;
    padding: 2%;
    margin-left: 51px;
    margin-top: 40px;">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5";>
            <h2 class="text-center">Create a new Account</h2>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label>Name</label>
                    <input type="name" class="form-control" name="Name" placeholder="Enter Name">
                </div>

                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>

                <a href="/login">Already have a account?</a>
                <button type="submit" class="btn btn-primary float-right">signup</button>
            
            </form>

        </div>

    </div>
</div>