.cartButton:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.userDropdown:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.deKart{
    font-family: 'Anton', sans-serif;
}

.checkoutButton:hover{
   
}

.logoutButton:hover{
    background-color: #d9534f;
}



.headerText{
    color: #fff;
}